<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.pill.mapper.PillFactoryMapper">
    
    <resultMap type="PillFactory" id="PillFactoryResult">
        <result property="proId"    column="pro_id"    />
        <result property="proName"    column="pro_name"    />
        <result property="proCode"    column="pro_code"    />
        <result property="proBoss"    column="pro_boss"    />
        <result property="proPhone"    column="pro_phone"    />
        <result property="proKeywords"    column="pro_keywords"    />
        <result property="proStatus"    column="pro_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="proAddress"    column="pro_address"    />
    </resultMap>

    <sql id="selectPillFactoryVo">
        select pro_id, pro_name, pro_code, pro_boss, pro_phone, pro_keywords, pro_status, create_by, create_time, update_by, update_time, remark, pro_address
            from drugs_producer
    </sql>


    <select id="selectPillFactoryList" parameterType="PillFactory" resultMap="PillFactoryResult">
        <include refid="selectPillFactoryVo"/>
        <where>
            <if test="proName != null  and proName != ''"> and pro_name like concat('%', #{proName}, '%')</if>
            <if test="proCode != null  and proCode != ''"> and pro_code = #{proCode}</if>
            <if test="proBoss != null  and proBoss != ''"> and pro_boss = #{proBoss}</if>
            <if test="proPhone != null  and proPhone != ''"> and pro_phone = #{proPhone}</if>
            <if test="proKeywords != null  and proKeywords != ''"> and pro_keywords = #{proKeywords}</if>
            <if test="proStatus != null  and proStatus != ''"> and pro_status = #{proStatus}</if>
            <if test="proAddress != null  and proAddress != ''"> and pro_address = #{proAddress}</if>
        </where>
    </select>
    
    <select id="selectPillFactoryByFactoryId" parameterType="Long" resultMap="PillFactoryResult">
        <include refid="selectPillFactoryVo"/>
        where pro_id = #{proId}
    </select>
        
    <insert id="insertPillFactory" parameterType="PillFactory" useGeneratedKeys="true" keyProperty="factoryId">
        insert into drugs_producer
        <trim prefix="(" suffix=")" suffixOverrides=",">
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="factoryName != null">#{factoryName},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="contact != null">#{contact},</if>
            <if test="phone != null">#{phone},</if>
            <if test="keyword != null">#{keyword},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePillFactory" parameterType="PillFactory">
        update drugs_producer
        <trim prefix="SET" suffixOverrides=",">
            <if test="proName != null">pro_name = #{proName},</if>
            <if test="proCode != null">pro_code = #{proCode},</if>
            <if test="proBoss != null">pro_boss = #{proBoss},</if>
            <if test="proPhone != null">pro_phone = #{proPhone},</if>
            <if test="proKeywords != null">pro_keywords = #{proKeywords},</if>
            <if test="proStatus != null">pro_status = #{proStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="proAddress != null">pro_address = #{proAddress},</if>
        </trim>
        where pro_id = #{proId}
    </update>

    <delete id="deletePillFactoryByFactoryId" parameterType="Long">
        delete from drugs_producer where pro_id = #{proId}
    </delete>

    <delete id="deletePillFactoryByFactoryIds" parameterType="String">
        delete from drugs_producer where drugs_producer.pro_id in
        <foreach item="pro_id" collection="array" open="(" separator="," close=")">
            #{proId}
        </foreach>
    </delete>
</mapper>